@charset "UTF-8";

:root {
    --fundo-da-tabela: black;
    --cor01: #ff8080;
    --cor02: #ff5c5c;
    --cor03: #ff3131;
    --cor04: #ff0000;
    --cor05: black;
    --cor06: black;
    --cor07: black;
}