@charset "UTF-8";

:root {
    --fundo-da-tabela: black;
    --cor01: #fcce79;
    --cor02: #fdc763;
    --cor03: #fcb839;
    --cor04: #ffa600;
    --cor05: black;
    --cor06: black;
    --cor07: black;
}