@charset "UTF-8";

:root {
    --fundo-da-tabela: black;
    --cor01: #ce9aff;
    --cor02: #be7dff;
    --cor03: #9f3eff;
    --cor04: #8c18ff;
    --cor05: #e5cffb;
    --cor06: #FEABDF;
    --cor07: #ff5ac2;
    --cor07: #f63bb1;
}