@charset "UTF-8";

:root {
    --fundo-da-tabela: red;
    --cor01: #b8ffb8;
    --cor02: #81ff81;
    --cor03: #49ff49;
    --cor04: #2bd72b;
    --cor05: black;
    --cor06: black;
    --cor07: black;
}