@charset "UTF-8";

body {
    margin: 0;
}

main {
    max-width: 700px;
    height: 1000px;
    background-color: white;
    margin: auto;
}

ul#menu {
    background-color: var(--cor09);
    list-style-type: none;
    padding: 0.1em;
    margin: 0;
    text-align: center;
    overflow: hidden;
}

.botao {
    float: left;
    margin: 0.2em;
    padding: 0.4em;
    text-decoration: none;
    color: var(--cor10);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.botao:hover {
    background-color: var(--cor01);
    color: var(--cor09);
}

footer {
    height: 500px;
    background-color: black;
    text-align: center;
}

div#footer {
    max-width: 700px;
    padding-top: 1em;
    font-size: 1.1em;
}

ul#rodape {
    text-align: justify;
    list-style-type: none;
}

div#footer a {
    color: var(cor--01);
    text-decoration: none;
    color: white;
}