@charset "UTF-8";

:root {
    --cor01: #ebd5ff;
    --cor02: #7853E8;
    --cor07: #FEABDF;
}

body {
    background-color: var(--fundo-da-tabela);
    margin: 0;
}

main {
    max-width: 700px;
    height: 1000px;
    background-color: white;
    margin: auto;
}

ul {
    background-color: var(--cor02);
    list-style-type: none;
    padding: 0.1em;
    margin: 0;
    text-align: center;
    overflow: hidden;
}

.botao {
    float: left;
    margin: 0.2em;
    padding: 0.4em;
    text-decoration: none;
    color: var(--cor07);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.botao:hover {
    background-color: var(--cor01);
    color: var(--cor02);
}