@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --font01: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    margin: 0;
}

main {
    max-width: 700px;
    height: 1000px;
    background-color: white;
    margin: auto;
}

ul#menu {
    background-color: var(--cor09);
    padding: 0.1em;
    margin: 0;
    text-align: center;
    overflow: hidden;
}

.botao {
    float: left;
    margin: 0.2em;
    padding: 0.4em;
    color: var(--cor10);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.botao:hover {
    background-color: var(--cor01);
    color: var(--cor09);
}

footer {
    background-color: #111111;
    text-align: left;
    padding: 1.5em;
    overflow: hidden;
}

footer a {
    color: white;
}

div#footer {
    width: 100%;
}

div.left {
    float: left;
    /*border: 2px solid purple;*/
    width: 250px;
}

div.fooquad {
    /*border: 2px solid red;*/
    padding-top: 1em;
    font-size: 1.3em;
    font-family: var(--font01);
    color: white;
    float: left;
}

.wid {
    width: 49%;
    min-width: 250px;
}

div.fooquad a:hover {
    color: var(--cor02);
}

.app {
    padding-left: 40px;
    padding-right: 40px;
}

.app p {
    width: 130px;
}

div.appquad {
    width: 135px;
    height: 94px;
    background-image: url("../img/icones.png");
    background-size: contain;
    background-repeat: no-repeat;
}

section#rodape {
    border-top: 1px solid #1e1e1e;
    clear: both;
    text-align: center;
    color: white;
}

section#rodape a:hover {
    color: var(--cor02);
}