@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

:root {
    --font01: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    background-color: #F2F2F2;
    margin: 0;
}

ul#menu {
    background-color: var(--cor09);
    padding: 0.1em;
    margin: 0;
    text-align: center;
    overflow: hidden;
}

.botao {
    float: left;
    margin: 0.2em;
    padding: 0.4em;
    color: var(--cor10);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.botao:hover {
    background-color: var(--cor01);
    color: var(--cor09);
}

main {
    max-width: 700px;
    height: 1000px;
    margin: auto;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.papel {
    border-radius: 10px;
    box-shadow: 2px 2px 3px #0000001f;
    background-color: white;
    padding: 0.5em;
}

header#main {
    color: var(--cor02);
    text-align: center;
    font: 0.7em 'Lato', sans-serif;
}

.sublinhado:hover {
    text-decoration: underline;
}

section#main {
    margin-top: 1em;
    height: 200px;
}

footer {
    background-color: #111111;
    text-align: left;
    padding: 1.5em;
    overflow: hidden;
}

footer a {
    color: white;
}

div#footer {
    width: 100%;
}

div.left {
    float: left;
    width: 250px;
}

div.fooquad {
    padding-top: 1em;
    font-size: 1.3em;
    font-family: var(--font01);
    color: white;
    float: left;
}

.wid {
    width: 49%;
    min-width: 250px;
}

div.fooquad a:hover {
    color: var(--cor02);
}

.app {
    padding-left: 40px;
    padding-right: 40px;
}

.app p {
    width: 130px;
}

div.appquad {
    width: 135px;
    height: 94px;
    background: #111111 url("../img/icones.png") no-repeat;
    background-size: contain;
}

section#rodape {
    border-top: 1px solid #1e1e1e;
    clear: both;
    text-align: center;
    color: white;
}

section#rodape a:hover {
    color: var(--cor02);
}