:root {
    --cor00: #afafff;
    --cor01: #8e8eff;
    --cor02: #6565ff;
    --cor03: #4242e8;
    --cor04: #2b2bc0;
    --cor05: #e5cffb;
    --cor06: #FEABDF;
    --cor07: #ff5ac2;
    --cor08: #f63bb1;
    --cor09: #3f3ff6;
    --cor10: #000085;
}