@charset "UTF-8";

body {
    background-color: var(--fundo-da-tabela);
}

section#tabela {
    background-color: var(--fundo-da-tabela);
    max-width: 700px;
    height: 60vh;
    margin: 0.5em auto;
}

table {
    width: 100%;
    height: 100%;
    border-spacing: 0.4em;
}

thead {
    height: 2.5em;
    background-color: var(--fundo-da-tabela);
}

thead th p {
    margin-top: 0;
    padding: 0;
}

th, td {
    width: 25%;
    text-align: center;
    padding: 0.3em;
}

th {
    padding: 0;
}

.col1 {
    background-color: var(--cor01);
    color: var(--cor07);
    /*box-shadow: 2px 2px 2px var(--cor04);*/
}

.col2 {
    background-color: var(--cor02);
    color: var(--cor07);
    /*box-shadow: 2px 2px 2px var(--cor04);*/
}

.col3 {
    background-color: var(--cor03);
    color: var(--cor07);
    /*box-shadow: 2px 2px 2px var(--cor01);*/
}

.col4 {
    background-color: var(--cor04);
    color: var(--cor07);
    /*box-shadow: 2px 2px 2px var(--cor01);*/
}

.placa {
    color: var(--cor07);
    box-shadow: 2px 2px 2px var(--cor04);
    clip-path: polygon( 0 0, 100% 0%, 100% 75%, 60% 75%, 50% 95%, 40% 75%, 0 75%);
    width: 100%;
    height: 100%;
    padding-top: 3px;
}

.pla01 {
    background-color: var(--cor01);
}

.pla02 {
    background-color: var(--cor02);
}

.pla03 {
    background-color: var(--cor03);
}

.pla04 {
    background-color: var(--cor04);
}

/*.sombra01 {
    filter: drop-shadow(2px 3px 2px var(--cor04));
}

.sombra02 {
    filter: drop-shadow(2px 3px 2px var(--cor04));
}

.sombra03 {
    filter: drop-shadow(2px 3px 2px var(--cor01));
}

.sombra04 {
    filter: drop-shadow(2px 3px 2px var(--cor01));
}*/