@charset "UTF-8";

:root {
    --cor01: #dfc1fc;
    --cor02: #be7dff;
    --cor03: #9f3eff;
    --cor04: #8c18ff;
    
    /*--luz05: #e5cffb;
    --cor06: #FEABDF;*/
}

section#tabela {
    max-width: 700px;
    height: 60vh;
    margin: auto;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

thead {
    height: 2.5em;
    background-color: white;
}

thead th {
    /*background-color: #891111;*/
    clip-path: polygon( 0 0, 100% 0%, 100% 75%, 60% 75%, 50% 95%, 40% 75%, 0 75%);
}

thead th p {
    margin-top: 0.1em;
}

th, td {
    border: 0.2em solid white;
    width: 25%;
    text-align: center;
    padding: 0.3em;
}

.col1 {
    background-color: var(--cor01);
}

.col2 {
    background-color: var(--cor02);
}

.col3 {
    background-color: var(--cor03);
}

.col4 {
    background-color: var(--cor04);
}